go 1.25

toolchain go1.25.1

use (
	examples/federation
	execution
	v2
)

replace github.com/tidwall/sjson => github.com/tidwall/sjson v1.0.4

//replace github.com/wundergraph/astjson => ../wundergraph-projects/astjson
