go 1.25

toolchain go1.25.1

use (
	// v1
	.
	// examples
	examples/federation

	// execution
	execution

	// v2
	v2
)

replace github.com/99designs/gqlgen => github.com/99designs/gqlgen v0.17.22

replace github.com/tidwall/sjson => github.com/tidwall/sjson v1.0.4

//replace github.com/wundergraph/astjson => ../wundergraph-projects/astjson
