version: 2
jobs:
  test:
    docker:
    - image: circleci/golang:1.12
    steps:
    - checkout
    - run: go test ./...
    - run: go get github.com/golangci/golangci-lint/cmd/golangci-lint@v1.16.0
    - run: golangci-lint run
  release:
    docker:
    - image: circleci/golang:1.12
    steps:
    - checkout
    - run: curl -sL https://git.io/goreleaser | bash
workflows:
  version: 2
  release:
    jobs:
    - test
    - release:
        filters:
          branches:
            ignore: /.*/
          tags:
            only: /v[0-9]+(\.[0-9]+)*(-.*)*/
