query {
  product {
    categories { id }
    ... on Base {
      ...ProductDetail
    }
  }
}

fragment ProductDetail on Base {
  ... on %s {
    categories {
      owner {
        %s
      }
    }
  }
  ... on %s {
    categories {
      owner {
        %s
      }
    }
  }
}
