name: execution
on:
  pull_request:
    paths:
      - 'v2/**'
      - 'execution/**'
      - '.github/workflows/execution.yml'
  push:
    branches:
      - master
    paths:
      - 'v2/**'
      - 'execution/**'
      - '.github/workflows/execution.yml'
jobs:
  test:
    name: Build and test (go ${{ matrix.go }} / ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go: [ "1.25" ]
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v5
        with:
          go-version: ^${{ matrix.go }}
        id: go
      - name: Quick tests & benchmarks
        working-directory: execution
        run: make test-quick
      - name: Run tests under race detector
        working-directory: execution
        if: runner.os != 'Windows' # These are very slow on Windows, skip them
        run: make test

  lint:
    name: Linters
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ "1.25" ]
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v5
        with:
          go-version: ^${{ matrix.go }}
      - name: Run linters
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          working-directory: execution
          version: v2.4.0
          args: --timeout=3m
  ci:
    name: CI Success
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: [test, lint]
    steps:
      - run: exit 1
        if: >-
          ${{
               contains(needs.*.result, 'failure')
            || contains(needs.*.result, 'cancelled')
          }}
