name: v2-ci
on:
  pull_request:
    branches:
      - master
    paths:
      - 'v2/**'
      - '.github/workflows/v2.yml'
      - '.github/workflows/pr-title.yml'
      - '.github/workflows/release.yml'
      - 'commitlint.config.js'
  push:
    branches:
      - master
    paths:
      - 'v2/**'
      - '.github/workflows/v2.yml'
      - '.github/workflows/pr-title.yml'
      - '.github/workflows/release.yml'
      - 'commitlint.config.js'
jobs:
  test:
    name: Build and test (go ${{ matrix.go }} / ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go: [ '1.23' ]
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v4
        with:
          go-version: ^${{ matrix.go }}
        id: go
      - name: Quick tests & benchmarks
        working-directory: v2
        run: make test-quick
      - name: Run tests under race detector
        working-directory: v2
        if: runner.os != 'Windows' # These are very slow on Windows, skip them
        run: make test

  lint:
    name: Linters
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
      - name: Set up Go 1.23
        uses: actions/setup-go@v4
        with:
          go-version: 1.23
      - name: Run linters
        uses: golangci/golangci-lint-action@v3
        with:
          working-directory: v2
          version: v2.3.1
          args: --timeout=3m
  ci:
    name: CI Success
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: [test, lint]
    steps:
      - run: exit 1
        if: >-
          ${{
               contains(needs.*.result, 'failure')
            || contains(needs.*.result, 'cancelled')
          }}
